<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
            <th>Time</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% load time_filter %}
        {% load rank_filter %}
        {% for rd in rankdata %}
            <tr>
                <td>{{ forloop.counter | rank_filter:page_info.currentPage}}</td>
                <td>{{ rd.nickname }}</td>
                <td>{{ rd.score }}</td>
                <td>{{ rd.clearTime | time_filter }}</td>
                <td>{{ rd.regiDate }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>