<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
            <th>Time</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% load time_filter %}
        {% load rank_filter %}
        {% for rd in rankdata %}
            <tr>
                <td>{{ forloop.counter | rank_filter:page_info.currentPage}}</td>
                <td>{{ rd.nickname }}</td>
                <td>{{ rd.score }}</td>
                <td>{{ rd.clearTime | time_filter }}</td>
                <td>{{ rd.regiDate }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="">
    <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link" href="{% url "mainApp:rank" %}?page={{ 1 }}">|&lt</a></li>
            <li class="page-item"><a class="page-link" href="#">&lt</a></li>
            <!-- 페이지 숫자보이기 -->
        {% for pr in pageRange%}    
            <li class="page-item"><a class="page-link" href="{% url "mainApp:rank" %}?page={{ pr }}">{{ pr }}</a></li>
        {% endfor %}
        <li class="page-item"><a class="page-link" href="#">&gt</a></li>
            <li class="page-item"><a class="page-link" href="{% url "mainApp:rank" %}?page={{ page_info.totalPage }}">&gt|</a></li>
    </ul>
</div>