<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/ballmungApp/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/static/ballmungApp/assets/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="/static/ballmungApp/css/ballmung.css">
    
    <title>Document</title>
</head>
<body class="homepage is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        {% include "nav.html" %}
            <div id="header">

                <!-- Nav -->
                

                <!-- Inner -->
                    <div class="inner">
                        <header>
                            <h1>🎠🏯🏯🏯🎠</h1>
                            <hr/>
                            <p>Play and Enjoy!</p>
                        </header>
                        <footer>
                            <a href="/ballmung/" class="button circled scrolly">볼</a>
                            <a href="/puzzleApp/" class="button circled scrolly">카드</a>
                            <a href="/shootingApp/" class="button circled scrolly">슈팅</a>
                            <a href="#banner" class="button circled scrolly">^_^</a>
                        </footer>
                    </div>

                
            </div>
        </div>
    </div>

    <!-- Scripts -->
        <script src="/static/ballmungApp/assets/js/jquery.min.js"></script>
        <script src="/static/ballmungApp/assets/js/browser.min.js"></script>
        <script src="/static/ballmungApp/assets/js/breakpoints.min.js"></script>
        <script src="/static/ballmungApp/assets/js/main.js"></script>

</body>
</html>