<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/ballmungApp/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/static/ballmungApp/assets/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="/static/ballmungApp/css/ballmung.css">
    
    
    <title>Document</title>
</head>
<body class="homepage is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        {% include "nav.html" %}
            <div id="header">

                <!-- Nav -->
                

                <!-- Inner -->
                    <div class="inner">
                        <header>
                            <span id="s1">🎠</span>
                            <span id="s2">🏯</span>
                            <span id="s3">🏯</span>
                            <span id="s4">🏯</span>
                            <span id="s5">🎠</span>
                            <h1>🎠🏯🏯🏯🎠</h1>
                            <hr/>
                            <p>Play and Enjoy!</p>
                        </header>
                        <footer>
                            <a href="/ballmung/"><img src="/static/ballmungApp/images/ballIcon100.png"></a>
                            <a href="/puzzleApp/"><img src="/static/ballmungApp/images/puzzleIcon100.png"></a>
                            <a href="/shootingApp/"><img src="/static/ballmungApp/images/shootingIcon100.png"></a>
                        </footer>
                    </div>

                
            </div>
        </div>
    </div>

    <!-- Scripts -->
        <script src="/static/ballmungApp/assets/js/jquery.min.js"></script>
        <script src="/static/ballmungApp/assets/js/browser.min.js"></script>
        <script src="/static/ballmungApp/assets/js/breakpoints.min.js"></script>
        <script src="/static/ballmungApp/assets/js/main.js"></script>

    <script>
        {% comment %} let icon_s = [];
        for(let i = 0; i < 5; i++ ){
            icon_s.push()
        } {% endcomment %}
    </script>

</body>
</html>